<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>
    <!-- Introduction and brief description  -->
    <h1>My name is Maxim Loukinov </h1>

    <h2>I am a student at the University of Maryland</h2>
    <p>I am <em>president</em> of the <strong>OMBA Society</strong>, and compete on the <strong>club Wrestling</strong> and <strong>BJJ teams</strong>.</p>

    <!-- List of favorite foods and activities -->
    <h2> My favorite foods are:</h2>

    <ol>
        <li>Sushi </li>
        <li>Steak </li>
        <li>Mushrooms </li>
    </ol>

    <h2> My favorite activities are:</h2>

    <ul>
        <li>Hiking </li>
        <li>Foraging for mushrooms </li>
        <li>Martial Arts </li>
    </ul>

    <h2>Course History </h2>

    <p>I've taken <em>a lot</em>of courses throughout my time at UMD. Here are some of my favorites: </p>

    <table>
        <tr>
            <th>Course </th>
            <th>Semester </th>
        </tr>
        <tr>
            <td>BMGT 302</td>
            <td>Fall 25</td>
        </tr>

        <tr>
            <td>BMGT 404</td>
            <td>Spring 26</td>
        </tr>

        <tr>
            <td>BMGT 385</td>
            <td>Spring 25</td>
        </tr>

    </table>
    <!-- Hyperlinks and image -->
    <h2>Links</h2>
    <p>To go to my <a href="/hello">Hello Page </a> </p>
    <p>To go to my favorite <a href="https://rhsmith.umd.edu/" target = _blank> Smith Site</a> </p>
    <p>To go to my favorite <a href="https://globle-game.com/game">Web Game </a> </p>

    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width = "267" height = "72" alt="Smith Logo">
<h2></h2>
</body>
</html>